<div > 
  <!-- <div style="width: 50%; height: 50%; margin-left: 400px;"><span>
    <img style="width: 100%; margin: auto; display: block;" class="vidyard-player-embed"
    src="https://play.vidyard.com/m5T5ZHKpH8CKoC5VsPUAyL.jpg" data-uuid="m5T5ZHKpH8CKoC5VsPUAyL"
   data-v="4" data-type="inline"   alt=""></span>
   </div> </div> -->
   
   <div class="table-container">
    <table>
      <tr>
        <td>first</td>
        <td>secound</td>
      </tr>
      <tr>
        <td>third</td>
        <td>fourth</td>
      </tr>
      <tr>

        <td>five</td>
        <td>six</td>
      </tr>
    </table>
    <button (click)="sendMessage()">Send Message</button>
  </div>